
<form method="POST" action="http://clouie.ca/challenge" enctype="multipart/form-data">
    <p>Challenge: <input type="text" name="title"></p>
    <p>Challenge ID: <input type="text" name="c_id"></p>
    <p>Photo: <input type="file" name="photo"></p>
    <image ng-src="{{imageURI}}" style="width:100px; height:100px" />
    <p>Description: <input type="text" name="description"></p>
    <input type="hidden" name="album_id" value="1">
    <!--<p class="row">-->
    <!--<p><input type="cancel"></p>-->
        <input type="button"  ng-click="hideAddChallenge()" class="col button button button-light" value="Cancel" />
        <input type="submit" class="col button button button-calm" value="Save" />
    <!--</p>-->

</form>
