<ion-view view-title="Dashboard">
  <ion-content>


        <ion-item class="list-card" ng-repeat="photo in photos" type="item-text-wrap">

          <!--<div class="item item-divider">-->
            <!--<h2>{{photo.description}}</h2>-->
            <!--&lt;!&ndash;<p>Nine Inch Nails</p>&ndash;&gt;-->
          <!--</div>-->

          <div class="item item-image">
            <img src="http://clouie.ca/{{photo.filepath}}">
          </div>


          <div class="item item-divider">
            <a class= "button button-icon ion-ios-star-outline" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" data-state="off" ng-class="{true: 'ion-ios-star-outline', false: 'ion-ios-star'}" ng-click="addVote(photo.id)" like-switcher ng-model="data.vote"> {{photo.votecount}}</a> <!--addVote(photo.id)-->
            <!--this will become photo.stars-->

            <!--<p>Nine Inch Nails</p>-->
          </div>
        </ion-item>


  </ion-content>
</ion-view>

<!--<script>-->
  <!--$(function() {-->
    <!--$( "#tabs" ).tabs();-->
  <!--});-->
<!--</script>-->

