<ion-view view-title="Login">
  <ion-content class="padding">
    <div class="buffer"></div>
    <image src="./img/graffitiCam.jpg" />
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="E-mail" ng-model="data.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="data.password">
      </label>
    </div>

    <button class="button button-block button-energized" ng-click="localLogin()">Login</button>

    <div class="center" style= "width: 30px; height:20px">OR</div>

    <button class="button button-block button-positive" ng-click="localSignup()">Signup</button>


    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<button class="button button-block button-energized" ng-click="localSignup()">Signup</button>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<button class="button button-block button-assertive" ng-click="localLogin()">Login</button>-->
      <!--</div>-->
      <!--<div class="col">-->
        <!--<button class="button button-block button-positive" ng-click="facebookLogin()">Facebook</button>-->
      <!--</div>-->
      <!--<div class= "col">-->
        <!--<button ng-click="instaSignin()" class="button button-energized button-block">-->
          <!--Instagram-->
        <!--</button>-->
      <!--</div>-->
    </div>
  </ion-content>
</ion-view>
<script>
  $(document).ready(function($localStorage){
    var u_id = $localStorage.u_id;
    console.log('can do some simple changes for front end');
//    $("#logout").hide();

//      $("#logout").hide();


  });
</script>
