<ion-view view-title="Camera">
    <ion-content>

        <div class="list card">
            <div class="item item-divider">Your Photo</div>
            <div class="item item-body">
                <div class="your-photo" style="width:300px;height:300px;border:1px solid #000;">
                    <image ng-src="{{imageURI}}" style="width:300px;height:300px;" />

                </div>
            </div>
        </div>

        <div class="row">
            <p class="col"></p>
        <button class="col col-33 button button-calm" ng-controller="NewPhotoCtrl" ng-click="showAddPhoto()" >Submit</button>
            <p class="col col-5"></p>
        <button class="col col-33 button button-energized" ng-click="showAddChallenge()">Create</button>
            <p class="col"></p>
        </div>
    </ion-content>
</ion-view>