
<form name="submitForm" novalidate>
  <p>Submit to:</p>

  <div class="list" ng-controller="NewPhotoCtrl" >

    <label class="item item-radio" ng-repeat="accepted in accepteds">
      <input type="radio" name="group" ng-model="data.challenge" value="{{accepted.c_id}}">
      <div class="item-content">
        {{accepted.challenge}}
      </div>
      <i class="radio-icon ion-checkmark"></i>
    </label>
</div>
    <p>Description: <input type="text" ng-model="data.description" name="description"></p>
    <input type="hidden" name="album_id" value="1">
    <p class="row">
        <!--<input type="button" class="col button button button-light" value="Cancel" />-->
        <!--<input type="submit" class="col button button button-calm" value="Save" />-->
    </p>

</form>
