<ion-view view-title="Dashboard">
  <ion-content>



    <div class="button-bar tabgroup" ng-init="tab=1">

      <div class="button" ng-click="tab = 1">Feed</div>

      <div class="button" ng-click="tab = 2">Challenges</div>
      <!--in the explore i would just need to do challenge in challenges and print them all-->

    </div>

    <div class="tabcontents">
      <div ng-show="tab === 1">

        <ion-item class="list-card" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/photo/{{photo.id}}">

          <div class="item item-divider">
            <h2>{{photo.description}}</h2>
            <!--<p>Nine Inch Nails</p>-->
          </div>

          <div class="item item-image">
            <img src="http://clouie.ca/{{photo.filepath}}">
          </div>


          <div class="item item-divider">
            <a class= "button button-icon ion-ios-star-outline" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" data-state="off" ng-class="{true: 'ion-ios-star-outline', false: 'ion-ios-star'}" ng-click="photo.votecount= photo.votecount+1" like-switcher ng-model="data.vote"><p> {{photo.votecount}}</p></a> <!--addVote(photo.id)-->
            <!--this will become photo.stars-->

            <!--<p>Nine Inch Nails</p>-->
          </div>
        </ion-item>

      </div>

      <div ng-show="tab === 2">
        <ion-item class="list-card" ng-repeat="challenge in challenges" class="uncheckedClass" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">

          <h2 class="item item-divider">
            <p style="margin-top: 5%; float:left">{{challenge.name}}</p>
            <a class="button button-icon" icon-off="ion-ios-plus-outline" icon-on="ion-ios-checkmark" data-state="off" ng-class="{true: 'ion-ios-checkmark', false: 'ion-ios-plus-outline'}[challenge.isActive]" ng-click="activateChallenge(challenge.c_id)" icon-switcher></a>
            <p>{{challenge.isActive}}</p>
            <!--<div ng-class="{'ion-ios-checkmark': isActive(challenge.id), 'ion-ios-plus-outline': !isActive(challenge.id)}">{{isActive}}</div>-->
            <!--<a class="button button-icon ion-ios-checkmark-outline" ng-click="activateChallenge()"></a>-->
            <!--ng-class="{'ion-ios-checkmark': isActive(challenge.id), 'ion-ios-plus-outline': !isActive(challenge.id)}"-->
          <!--<ion-option-button icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus"></ion-option-button>-->
            <!--ng-attr-class="{{isActive && 'icon-on' || 'icon-off'}}"-->
          </h2>

          <div class="item item-image" >
            <figure class="tint">
              <h2 class="textOnImage" >{{challenge.description}}</h2>
              <img ng-src="http://clouie.ca/{{challenge.filepath}}">
            </figure>
            </div>
        </ion-item>
      </div>

    </div>



    <!--<ion-item class="list-card" ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">-->

      <!--<h2 class="item item-divider">{{challenge.name}}</h2>-->
      <!--<div class="item item-image">-->
        <!--<img style="max-width: 250px" ng-src="{{challenge.photo}}">-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</div>-->
      <!--<p class="item item-divider">{{challenge.lastText}}</p>-->


      <!--<ion-option-button class="button-assertive" ng-click="remove(challenge)">-->
        <!--Delete-->
      <!--</ion-option-button>-->
    <!--</ion-item>-->

  </ion-content>
</ion-view>

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

