<ion-view view-title="Winners">
    <ion-content>
        <div class="list card">
            <div class="item item-divider">The Winners</div>
            <div class="item item-body">
                <div>
                    This will be a picture card <b>of winner!</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Best Tree</div>
            <div class="item item-body">
                <div>
                    This will be a picture card <b>of winner!</b>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Most Colorful Door</div>
            <div class="item item-body">
                <div>
                    This will be a picture card <b>of winner!</b>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>