<ion-view view-title="Dashboard">
  <ion-content>



    <div class="button-bar tabgroup" ng-init="tab=1">

      <div class="button" ng-click="tab = 1">Current</div>

      <div class="button" ng-click="tab = 2">Explore</div>
      <!--in the explore i would just need to do challenge in challenges and print them all-->

    </div>

    <div class="tabcontents">
      <div ng-show="tab === 1">

        <ion-item class="list-card"  ng-repeat="challenge in challenges | filter:'da'" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">

          <h2 class="item item-divider">{{challenge.name}}</h2>
          <div class="item item-image">
            <img style="max-width: 250px" ng-src="{{challenge.photo}}">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
          <p class="item item-divider">{{challenge.lastText}}</p>
        </ion-item>

      </div>

      <div ng-show="tab === 2">
        <ion-item class="list-card"  ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">
          <h2 class="item item-divider">{{challenge.name}}</h2>
          <div class="item item-image">
            <img style="max-width: 250px" ng-src="{{challenge.photo}}">
            <i class="icon ion-chevron-right icon-accessory"></i>
          </div>
          <p class="item item-divider">{{challenge.lastText}}</p>
        </ion-item>

      </div>
    </div>



    <!--<ion-item class="list-card" ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">-->

      <!--<h2 class="item item-divider">{{challenge.name}}</h2>-->
      <!--<div class="item item-image">-->
        <!--<img style="max-width: 250px" ng-src="{{challenge.photo}}">-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</div>-->
      <!--<p class="item item-divider">{{challenge.lastText}}</p>-->


      <!--<ion-option-button class="button-assertive" ng-click="remove(challenge)">-->
        <!--Delete-->
      <!--</ion-option-button>-->
    <!--</ion-item>-->

  </ion-content>
</ion-view>

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

