<ion-view view-title="Compete">
  <ion-content>
    <div class="button-bar">
      <a class="button">Create</a>

      <a class="button">Explore</a>
      <!--in the explore i would just need to do challenge in challenges and print them all-->

    </div>
    <!--<ion-list>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">-->
        <!--<img ng-src="{{chat.face}}">-->
        <!--<h2>{{chat.name}}</h2>-->
        <!--<p>{{chat.lastText}}</p>-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Delete-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
    <!--</ion-list>-->
  </ion-content>
</ion-view>
