<ion-view view-title="Dashboard">
  <ion-content>



    <div class="button-bar tabgroup" ng-init="tab=1">

      <div class="button" ng-click="tab = 1">Feed</div>

      <div class="button" ng-click="tab = 2">Challenges</div>
      <!--in the explore i would just need to do challenge in challenges and print them all-->

    </div>

    <div class="tabcontents">
      <div ng-show="tab === 1">

        <ion-item class="list-card"  ng-controller="DashCtrl" ng-repeat="photo in photos" type="item-text-wrap" href="#/tab/photo/{{photo.id}}">

          <div class="item item-divider">
            <h2>{{photo.description}}</h2>
            <!--<p>Nine Inch Nails</p>-->
          </div>

          <div class="item item-image">
            <img src="http://clouie.ca/{{photo.filepath}}">
          </div>


          <div class="item item-divider">
            <i class="icon ion-ios-star">  {{photo.id}}</i>
            <!--this will become photo.stars-->

            <!--<p>Nine Inch Nails</p>-->
          </div>
        </ion-item>

      </div>

      <div ng-show="tab === 2">
        <ion-item class="list-card"  ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">

          <h2 class="item item-divider">
            <p style="margin-top: 5%; float:left">{{challenge.name}}</p>
            <a class="button button-icon ion-ios-checkmark-outline"></a>
          <!--<i icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus"></i>-->
          </h2>

          <div class="item item-image" >
            <figure class="tint">
              <h2 class="textOnImage" >{{challenge.description}}</h2>
              <img ng-src="http://clouie.ca/{{challenge.filepath}}">
            </figure>
            </div>
        </ion-item>
      </div>

    </div>



    <!--<ion-item class="list-card" ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">-->

      <!--<h2 class="item item-divider">{{challenge.name}}</h2>-->
      <!--<div class="item item-image">-->
        <!--<img style="max-width: 250px" ng-src="{{challenge.photo}}">-->
        <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
      <!--</div>-->
      <!--<p class="item item-divider">{{challenge.lastText}}</p>-->


      <!--<ion-option-button class="button-assertive" ng-click="remove(challenge)">-->
        <!--Delete-->
      <!--</ion-option-button>-->
    <!--</ion-item>-->

  </ion-content>
</ion-view>

<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

