<ion-view view-title="Compete">
  <ion-content>
    <div class="button-bar" ng-controller="ButtonCtrl">
      <a class="button">Create</a>

      <a class="button">Explore</a>
      <!--in the explore i would just need to do challenge in challenges and print them all-->

    </div>

    <ion-tab class="card"></ion-tab>




      <ion-item class="list-card" ng-repeat="challenge in challenges" type="item-text-wrap" href="#/tab/challenge/{{challenge.id}}">

        <h2 class="item item-divider">{{challenge.name}}</h2>
        <div class="item item-image">
        <img style="max-width: 250px" ng-src="{{challenge.photo}}">
        <i class="icon ion-chevron-right icon-accessory"></i>
        </div>
        <p class="item item-divider">{{challenge.lastText}}</p>


        <ion-option-button class="button-assertive" ng-click="remove(challenge)">
          Delete
        </ion-option-button>
      </ion-item>

  </ion-content>
</ion-view>
